.Button {
  background-color: var(--primary);
  color: var(--text-inverse);
  cursor: pointer;
  border: none;
  border-radius: 32px;
  font-size: 20px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  height: 40px;
}

.Button__primary {
  font-size: 22px;
  height: 64px;
}
