.editPanelModule > p {
  font-weight: bold;
  margin-top: 12px;
}
.editPanelModule:first-child > p {
  margin-top: 4px;
}

.editPanelElement {
  border-radius: 8px;
  display: flex;
  gap: 8;
  margin: 0 -8px;
  padding: 6px 8px;
}

.editPanelElement > div,
.editPanelElement > p {
  width: 100%;
}

.editPanelElement__draggable:hover {
  background-color: var(--bg-descended);
}
.editPanelElement__draggable > div,
.editPanelElement__draggable > p {
  cursor: grab;
}

.editPanelElement > button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px;
  width: 32px;
  aspect-ratio: 1 / 1;
}
.editPanelElement > button:active:not(:disabled) {
  opacity: 0.9;
}
.editPanelElement > button:disabled {
  background: var(--btn-bg-disabled);
  cursor: not-allowed;
}
.editPanelElement__disabled:not(.editPanelElement__draggable) {
  color: var(--text-disabled);
}

.editPanelTextArea,
.editPanelInput,
.editPanelSelect {
  border: none;
  border-radius: 8px;
  background-color: var(--bg);
  color: var(--text);
  cursor: text;
  margin-top: 8px;
  padding: 16px;
  width: 100%;
}

.editPanelTextArea::placeholder,
.editPanelInput::placeholder,
.editPanelSelect::placeholder {
  color: var(--purple-dark-04);
}

.editPanelTextArea:focus,
.editPanelTextArea:focus-visible,
.editPanelTextArea:focus-within,
.editPanelInput:focus,
.editPanelInput:focus-visible,
.editPanelInput:focus-within,
.editPanelSelect:focus,
.editPanelSelect:focus-visible,
.editPanelSelect:focus-within {
  outline: 1px solid var(--border-focus);
}

.editPanelTextArea {
  min-height: 250px;
  min-width: 100%;
  max-width: 100%;
}

.editPanelSelect {
  cursor: pointer;
}
